# Ignore node_modules folder
backend/node_modules
frontend/node_modules


# Ignore build artifacts
build/
dist/



# Ignore logs
*.log

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore production build files
*.gz
*.br

# Ignore test coverage reports
coverage/

# Ignore server-specific files
.DS_Store
Thumbs.db

# Ignore temporary files
*.tmp
*.swp
